/* CSS HEX */
:root {
    --curious-blue-50: #f1fafe;
    --curious-blue-100: #e1f4fd;
    --curious-blue-200: #bde8fa;
    --curious-blue-300: #83d8f6;
    --curious-blue-400: #41c3ef;
    --curious-blue-500: #19acde;
    --curious-blue-600: #0d9bd3;
    --curious-blue-700: #0b6f99;
    --curious-blue-800: #0d5e7f;
    --curious-blue-900: #114e69;
    --curious-blue-950: #0b3146;

    *, *:before, *:after {
        box-sizing: border-box;
        letter-spacing: .2rem;
    }

  }
/* Main body elements across all pages */
body {
    margin: 0;
    padding: 0;

    font-family: "Truculenta", sans-serif;
    font-weight: 400;

    width: 100%;
    min-height: 100dvh;


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    background-color: var(--curious-blue-900);
    color: var(--curious-blue-900);
}

/* ------------
HEADER SETTINGS
--------------*/
header {
    padding: 1em;
    margin-bottom: auto;
    border-bottom: #d5af26 3px solid;

    height: 10dvh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--curious-blue-900);
  
}
/* lefthand side of navbar */
header > .navleft {
    display: flex;
    justify-content: left;
    align-items: center;
}

header > .navleft > a > img {
    padding: .5em 1em;
    height: 8dvh;
}

header > .navleft > h1 {
    padding: 0 1em;
    width: max-content;
    display: flex;
    color: var(--curious-blue-50);
    font-weight:bolder;
    font-size: 1.5rem;
}

header > .navbutton {
    display: none;
}

header > label {
    display: none;
}
/* righthand side of navbar */
header > .navright {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
    width: 80%;
    margin: 0 auto;
    transition: 0.5s;
}

header > .navright > a {
    list-style: none;
    border: 1px solid var(--curious-blue-900);
    padding: 8px 2%;
    margin: 0 1%;
    position: relative;
    color: var(--curious-blue-50);
    background-color: var(--curious-blue-900);
    transition: 0.5s;
    text-decoration: none;
    max-height: 10dvh;
    z-index: 1;
}
/* navbar animation */
header > .navright > a::before {
    content: '';
    border-left: 2px solid #d5af26;
    border-right: 2px solid #d5af26;
    width: 0%;
    height: 2.5em;
    background-color: var(--curious-blue-950);
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s;
    z-index: -1;
}

header > .navright > a:hover:before {
    width: 100%;
}

header > .navright > a:hover {
    background-color: var(900);
    color: var(--curious-blue-50);
    background-color: var(--curious-blue-900);
}


main {
    height: 85dvh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--curious-blue-50);
    padding: 1em 1em;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* ------------
HOME SETTINGS 
--------------*/
.indexmain > .section1 > img {
    margin: 1em 1em;
    max-width: 50%;
    z-index: 0;
    border-radius: 12px;
    box-shadow: 5px 5px #d5af26;
}

.indexmain > .section1 {
    margin: 1em;
}
.indexmain > .section2 {
    margin: 1em
}

.indexmain > .section2 > h2 {
    margin: 1em;
}

.indexmain > .section2 > h3 {
    margin: 1em;
}

/* Link settings for homepage and resume */
.link {
    margin: 1em auto;
    text-decoration: none;
    padding: .2em;
    color: var(--curious-blue-50);
    font-weight: 400;
    transition: 0.5s;
    font-weight: bolder;
    bottom: 0;
    border-top: 1.5px solid #d5af26;
    border-bottom: 1.5px solid #d5af26;
    border-radius: 0;
}

.link:hover {
    color: #d5af26;
}

/* ------------
ABOUT PAGE SETTINGS
--------------*/

.aboutmain > section > p {

    width: 80%;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: normal;
    background-color:var(--curious-blue-900);
    padding: 1em;
    border-left: 2px dotted var(--curious-blue-100);
    border-right: 2px dotted var(--curious-blue-100);
    font-weight: 500;
    margin: 1em auto;
}

.aboutmain > section > img {
    width: 70%;
    max-width: 400px;
    box-shadow: 5px 5px #d5af26;
    border-radius: 12px;
    border-bottom: 2px solid var(--curious-blue-950);
    border-right: 2px solid var(--curious-blue-950);
}

/* section regarding learnt languages */
.knownlanguages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 1em auto;
}

.knownlanguages > ul > h2 {
    margin: 0 auto;
}

.knownlanguages > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: column;
    padding-left: 0;
    width: fit-content;
}

/* settings for each section on about page */
.aboutmain > .section1  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 5%;
}
.aboutmain > .section2  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5%;
}
.aboutmain > .section3  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5%;
}
.aboutmain > .section3 > p {
    max-width: 350px;
    margin: 0 0;
    padding: 1em;
    border: none;
}

/* ------------
CONTACT PAGE SETTINGS 
--------------*/

.contactmain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contactmain > .section2 > .contactbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* settings for the contact form */
.contactform {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    border-radius: 12px;
    background-color: var(--curious-blue-900);
}

input {
    border-radius: 12px;
    padding: 1em;
    margin: 1em;
    background-color: var(--curious-blue-100);
}

input:hover {
    opacity: 80%;
}

::placeholder {
    text-align: center;
}
/* settings for the animation of the submit button */
.contactform > button {
    display: flex;
    padding: 1em 1em;
    margin: 1em auto;
    border-radius: 12px;
    border: 2px solid #d5af26;
    background-color: var(--curious-blue-900);
    color: var(--curious-blue-50);
    transition: 0.5s;
}

.contactform > button:hover {
    background-color: #d5af26;
    color: var(--curious-blue-50);
}
/* settings for the email and phone links*/
.contactbuttons {
    display: flex;
    flex-direction: row;
    padding: 3em 0;
}

.contactbutton {
    margin: 0;
    padding: .5em;
    border-radius: 12px;
    text-decoration: none;
    color: var(--curious-blue-50);
    font-size: .8rem;
    transition: 0.5s;
}

.contactbutton:hover {
    color:#d5af26;
}

/* ------------
PROJECTS & BLOG HOMEPAGE PAGE SETTINGS 
--------------*/
/* this controls the overall aesthetic of the tiles on the blog and projects page */
.tile {
    padding: 1em 3em;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--curious-blue-900);
    margin: 2em auto 1em;
    color: var(--curious-blue-50);
    text-decoration: none;
    background-size: 100%;
    background-image: none;
    opacity: 100;
    scale: 1;
    transition: .5s ease-in-out;
    border-radius: 12px;
}

.tile > section > p {
    color: var(--curious-blue-50);
}

.tile > section > h1 {
    border-left: 4px solid #d5af26;
    border-right: 4px solid #d5af26;
    font-size: 2rem;
}

.tile > section > img {
    width: 100%;
    margin-top: 0;
    min-width: 300px;
}

/* controls the scale up animation on the tile */
.tile:hover {
    scale: 1.1;
    z-index: 1;
}

/* ------------
INDIVIDUAL PROJECTS AND BLOG PAGE SETTINGS
--------------*/
.blogpostmain > section {
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blogpostmain > section > p {
    margin: 0 1em;
}

.blogpostmain > .section1 {
    order: 1;
}

.blogpostmain > .section2 > img {
    margin: 1em;
    width: 40dvw;
    max-width: 400px;
    box-shadow: 5px 5px #d5af26;
    border-radius: 12px;
    border-bottom: 2px solid var(--curious-blue-950);
    border-right: 2px solid var(--curious-blue-950);
}

.blogpostmain > .section2 > .knownlanguages > ul > h2 {
    color: #d5af26;
}

.blogpostmain > .section2 > a {
    text-decoration: none;
}

.projectpostmain > section {
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.projectpostmain > section > p {
    margin: 0 1em;
}

.projectpostmain > .section1 {
    order: 1;
}

.projectpostmain > .section2 > img {
    margin: 1em;
    width: 40dvw;
    max-width: 400px;
    padding: 1em;
}

/* This controls the heading on the languages used section of the projects page */
.projectpostmain > .section2 > .knownlanguages > ul > h2 {
    color: #d5af26;
}

.projectpostmain > .section2 > a {
    text-decoration: none;
}

/* ------------
FOOTER SETTINGS 
--------------*/
footer {
    height: 5dvh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: #d5af26 3px solid;
    color: var(--curious-blue-50);
    flex-direction: row;
    padding: 0 2em;
    margin-top: auto;

}

/* controls the links in the footer including animations */
footer > a {
    color: var(--curious-blue-50);
    max-height: 5dvh;
    text-decoration: none;
    transition: 0.5s;
    opacity: 70%;
    transform: scale(1);
}

footer > a:hover {
    transform: scale(1.2);
    opacity: 100%;
    color:#d5af26;
}

footer >h4 {
    font-size: .8rem;
}

/* for screensizes under 720px in width ie mobiles, the following will allow a responsive design */
@media screen and (max-width: 720px) {
    
    /* settings to turn the navigation bar into a collapsable version */
    header > .navright {
        flex-direction: column;
        position: absolute;
        height: 0;
        width: 100%;
        padding: 0 1em;
        top: 10dvh;
        bottom: 5dvh;
        align-items: center;
        transition: .1s;
        background-color:var(--curious-blue-950);
        z-index: 1;
        
    }
/* this allows the text to be hidden when the height is set to 0 above */
    header > .navright > a {
        padding: 0;
        border: none;
        text-align: right;
        margin: 1em 0;
        background-color: transparent;
        overflow: hidden ;
        transition: 0s;
    }
/* controls the animation of the nav colouration */
    header > .navright > a:hover {
        background-color: transparent;
        color: #d5af26;
    }
/* allows the navar to expand when checked */
    .navbutton:checked ~ .navright {
        height:16em;
        border-bottom: 3px solid #d5af26;
    }

    header > .navright > a::before {
        display: none;
    }

    header > .navleft > h1 {
        width: fit-content;
    }

    /* settings that control the navbar icon and the opcacity */
    header > label {
        display: block;
        transform: scale(2);
        margin-left: auto;
        margin-right: 1em;
    }

    header > label:hover {
        opacity: 80%;
    }

}
    
/* settings for screensizes about 720px */
@media screen and (min-width: 720px) {

    .indexmain {
        flex-direction: row;
        align-content: space-evenly;
    }

    .indexmain * {
        padding: 0;
        margin: 1em 0;
    }

    .indexmain > .section1 {
        min-width: 50%;
    }

    .indexmain > .section2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 40%;
    }

    .indexmain > .section2 > a {
        display: none;
    }

    .contactmain {
        flex-direction: row;
    }

    .contactmain > .section2 > .contactbuttons {
        flex-direction: column;
    }
    .contactmain > .section2 > .contactbuttons > a {
        font-size: 1rem;
    }
    .projectsmain, .blogmain {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        overflow-x: scroll;
        flex-wrap: wrap;
        margin: 0 2em;
        background-color: var(--curious-blue-900);
    }

    .tile {
        margin: 1em;
        height: fit-content;
        flex-wrap: wrap;
    }

     /* necessary do not move */
     .knownlanguages {
        margin: 1em 0;
    }
        
    .blogpostmain {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .projectpostmain {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .projectpostmain > .section1 {
        order: 0;
    }
    .blogpostmain > .section1 {
        order: 0;
    }
}

