/* CSS HEX */
:root {
    --curious-blue-50: #f1fafe;
    --curious-blue-100: #e1f4fd;
    --curious-blue-200: #bde8fa;
    --curious-blue-300: #83d8f6;
    --curious-blue-400: #41c3ef;
    --curious-blue-500: #19acde;
    --curious-blue-600: #0d9bd3;
    --curious-blue-700: #0b6f99;
    --curious-blue-800: #0d5e7f;
    --curious-blue-900: #114e69;
    --curious-blue-950: #0b3146;

    *, *:before, *:after {
        box-sizing: border-box;
        letter-spacing: .2rem;
    }

  }

body {
    margin: 1em;
    padding: 0;

    font-family: "Truculenta", sans-serif;
    font-weight: 400;

    width: 100%;
    min-height: 100dvh;


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    background-color: var(--curious-blue-900);
    color: var(--curious-blue-900);
}

/* ------------
HEADER SETTINGS 
--------------*/
header {
    padding: 1em;
    margin-bottom: auto;
    border-bottom: #d5af26 3px solid;

    height: 10dvh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--curious-blue-900);
  
}

header > .navleft {
    display: flex;
    justify-content: left;
    align-items: center;
}

header > .navleft > img {
    padding: .5em 1em;
    max-width: 5em;
    max-height: 5em;
}

header > .navleft > h1 {
    padding: 0 1em;
    width: 15em;
    display: flex;
    color: var(--curious-blue-50);
    font-weight:bolder;
    font-size: 1.5rem;
}

header > .navbutton {
    display: none;
}

header > label {
    display: none;
}

header > .navright {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
    width: 80%;
    margin: 0 auto;
    transition: 0.5s;
}

header > .navright > a {
    list-style: none;
    border: 1px solid var(--curious-blue-900);
    padding: 8px 2%;
    margin: 0 1%;
    position: relative;
    color: var(--curious-blue-50);
    background-color: var(--curious-blue-900);
    transition: 0.5s;
    text-decoration: none;
}

header > .navright > a::before {
    content: '';
    border-top: 1.5px solid #d5af26;
    border-bottom: 1.5px solid #d5af26;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleY(1.4);
    transition: 0.5s;
}

header > .navright > a:hover:before {
    transform: scaleY(1);
}

header > .navright > a:hover {
    background-color: var(900);
    color: var(--curious-blue-50);
    background-color: var(--curious-blue-900);
}




/* ------------
MAIN SETTINGS 
--------------*/
main {
    height: 85dvh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--curious-blue-50);
    padding: 0 1em;
    overflow-y: scroll;
    
}


.indexheading {
    margin: 1em auto;
    font-size: 4rem;
}

.indeximage {
    margin: 1em auto;
    max-width: 80%;
    filter: invert(100%);
    z-index: 0;
}


.indexlink {
    margin: 1em auto;
    text-decoration: none;
    padding: .2em;
    color: var(--curious-blue-50);
    font-weight: 400;
    transition: 0.5s;
    font-weight: bolder;
    bottom: 0;
    border-top: 1.5px solid #d5af26;
    border-bottom: 1.5px solid #d5af26;
    border-radius: 0;
}

.indexlink:hover {
    color: #d5af26;
}

/* ------------
ABOUT PAGE SETTINGS 
--------------*/

.aboutmain > section > p {
    margin: 1em auto;
    width: 80%;
    text-align: center;
    letter-spacing: normal;
    background-color:var(--curious-blue-900);
    padding: 1em;
    border-top: 3px solid var(--curious-blue-100);
    border-left: 1px solid var(--curious-blue-100);
    border-right: 1px solid var(--curious-blue-100);
    border-bottom: 3px solid var(--curious-blue-100);
    border-radius: 12px;
    font-weight: 500;
}

.knownlanguages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 350px;
    margin: 1em auto;
}

.knownlanguages > h2 {
    margin: 0;
}

.knownlanguages > ul {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: column;
    padding-left: 0;
    /* width: 100%; */
    /* border-top: 2px solid var(--curious-blue-100); */
    /* z-index: 0; */
}

/* .knownlanguages:hover {
    display: block;
}

.knownlanguages > ul::before {
    content: '';
    position: absolute;
    background-color: var(--curious-blue-950);
    width: 100%;
    height: 0%;
    transition: 1s;
    top: 0;
    border-bottom: 2px solid var(--curious-blue-100);
    z-index: -1;
    
}

.knownlanguages > ul:hover::before {
    display: block;
    height: 100%; */
/* } */

.aboutimage1, .aboutimage2 {
    width: 70%;
    max-width: 400px;
    position: relative;
    box-shadow: 5px 5px #d5af26;
    border-radius: 12px;
    border-bottom: 2px solid var(--curious-blue-950);
    border-right: 2px solid var(--curious-blue-950);

}


.contact {
    display: flex;
    flex-direction: column;
    margin:  auto;
    padding: 0 auto;
    width: 80%;
    border-radius: 12px;
    background-color: var(--curious-blue-900);

}

.contact > section >section > label {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1em 0;
    color: var(--curious-blue-50);
}

input {
    border-radius: 12px;
    padding: 1em;
    background-color: var(--curious-blue-100);
}

input:hover {
    opacity: 80%;
}

::placeholder {
    text-align: center;
}

#message {
    height: 50px;
}

button {
    display: flex;
    padding: 1em 1em;
    margin: 1em auto;
    border-radius: 12px;
    border: 2px solid #d5af26;
    max-width: fit-content;
    align-self: center;
    background-color: var(--curious-blue-900);
    color: var(--curious-blue-50);
    transition: 0.5s;
}

button:hover {
    background-color: #d5af26;
    color: var(--curious-blue-50);
}

.contactbuttons {
    display: flex;
    flex-direction: row;
}

.contactbutton {
    margin: 0;
    padding: .5em;
    border-radius: 12px;
    text-decoration: none;
    color: var(--curious-blue-50);
    font-size: .8rem;
    transition: 0.5s;
}


.contactbutton:hover {
    color:#d5af26;
}

/* ------------
PROJECTS PAGE SETTINGS 
--------------*/

.tile {
    padding: 1em 3em;
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--curious-blue-950);
    margin: 2em auto 1em;
    transition: .5s;
    box-shadow: 0px 0px 0px;
    color: var(--curious-blue-50);
    text-decoration: none;
    background-image: url(img/projectimage.png);
    background-size: 100%;
    opacity: 100;
    box-shadow: 5px 5px #d5af26;
    
    
}

.tile:hover {
    background-color: var(--curious-blue-950);
    color: var(--curious-blue-50);
    background-image: none;
}


.tile > a {
    text-decoration: none;
    padding: 1em;
    color: var(--curious-blue-50);
    bottom: 10px;
}

#projectstile {
    background-image: url(img/projectimage.png);

}


/* ------------
FOOTER SETTINGS 
--------------*/
footer {
    height: 5dvh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: #d5af26 3px solid;
    color: var(--curious-blue-50);
    flex-direction: row;
    padding: 0 2em;
    margin-top: auto;
    

}

footer > a {
    color: var(--curious-blue-50);
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.5s;
    opacity: 70%;
    transform: scale(1);
}

footer > a:hover {
    transform: scale(1.1);
    opacity: 100%;
    color:#d5af26;
}

footer >h4 {
    font-size: .8rem;
}


@media screen and (max-width: 720px) {
    
    header > .navright {
        flex-direction: column;
        position: absolute;
        height: 0;
        width: 100%;
        padding: 0 1em;
        top: 10dvh;
        bottom: 5dvh;
        align-items: center;
        transition: .1s;
        background-color:var(--curious-blue-950);
        z-index: 1;
        
    }

    header > .navright > a {
        padding: 0;
        border: none;
        text-align: right;
        margin: 1em 0;
        background-color: transparent;
        overflow: hidden ;
        transition: 0s;
    }

    header > .navright > a:hover {
        background-color: transparent;
        color: #d5af26;
    }

    .navbutton:checked ~ .navright {
        height:16em;
        border-bottom: 3px solid #d5af26;
    }

    header > .navright > a::before {
        display: none;
    }

    header > .navleft > h1 {
        width: fit-content;
    }

    header > label {
        display: block;
        transform: scale(2);
        margin-left: auto;
        margin-right: 1em;
    }

    header > label:hover {
        opacity: 80%;
    }

}
    

@media screen and (min-width: 720px) {

    .indexmain {
        flex-direction: row;
        align-content: space-evenly;
    }

    .indexmain * {
        padding: 0;
        margin: 1em 0;
    }

    .leftsection {
        min-width: 50%;
    }

    .rightsection {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 40%;
    }

    .indexlink {
        display: none;
    }
    /* .contactmain {
        display: flex;
        justify-content: ;
    } */

    .projectsmain {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 2em;
        background-color: var(--curious-blue-900);
        perspective: 2000px;
    }

    .tile {
        margin: 1em;
        width: 20em;
        height: fit-content;
        flex-wrap: wrap;
        position: relative;
        transition: 1s ease-in-out;
        transform-style: preserve-3d;
    }

    .tile:hover {
        transform: rotateY(180deg)
    }

    .tile::before {
        position: absolute;
        border-radius: 12px;
        content: 'Test';
        width: 100%;
        height: 100%;
        background-color: var(--curious-blue-transparent);
        transition: ease-in-out;
        transition-delay: .5s;
        visibility: hidden;
    }

    .tile:hover::before {
        background-color: var(--curious-blue-950);
        visibility: visible;

    }

    .tile > section > img {
        display: block;
        width: 10em;
        border-radius: 12px;
        border: 2px solid var(--curious-blue-100);
        }

    .aboutmain > .section1  {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .aboutmain > .section2  {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 10%;
    }

    .knownlanguages {
        margin: 1em 0;
    }

    .aboutmain > .section3  {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .aboutmain > section > p
}