/* CSS HEX */
:root {
    --curious-blue-50: #f1fafe;
    --curious-blue-100: #e1f4fd;
    --curious-blue-200: #bde8fa;
    --curious-blue-300: #83d8f6;
    --curious-blue-400: #41c3ef;
    --curious-blue-500: #19acde;
    --curious-blue-600: #0d9bd3;
    --curious-blue-700: #0b6f99;
    --curious-blue-800: #0d5e7f;
    --curious-blue-900: #114e69;
    --curious-blue-950: #0b3146;

  }

body {
    box-sizing: border-box;
    font-family: "Truculenta", sans-serif;
    font-weight: 400;
    width: 100%;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    letter-spacing: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--curious-blue-900);
    color: var(--curious-blue-900);
}

/* ------------
HEADER SETTINGS 
--------------*/
header {
    box-sizing: border-box;
    /* background-image: url(img/Header.png);
    background-size: cover;
    background-blend-mode: multiply;
    background-position:center; */
    height: 10dvh;
    width: 100%;
    background-color: var(--curious-blue-900);
    background-blend-mode: color-burn;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-bottom: #d5af26 3px solid;
    margin-bottom: auto;
}

header > .navleft {
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
}

header > .navleft > img {
    box-sizing: border-box;
    padding: 0 1em;
    max-width: 5em;
    max-height: 5em;
}

header > .navleft > h1 {
    padding: 0 1em;
    width: 15em;
    box-sizing: border-box;
    display: flex;
    /* justify-content: left; */
    color: var(--curious-blue-50);
    font-weight:bolder;
    font-size: 1.5rem;
    /* text-shadow: 0px 1px 1px #d5af26; */
}

header > .navbutton {
    display: none;
}

header > label {
    display: none;
}



header > .navright {
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    align-items: center;
    /* border: 1px solid black; */
    padding: 0;
    width: 80%;
    margin: 0 auto;
    transition: 0.5s;
}

header > .navright > a {
    box-sizing: border-box;
    list-style: none;
    border: 1px solid var(--curious-blue-900);
    padding: 8px 2%;
    margin: 0 1%;
    position: relative;
    color: var(--curious-blue-50);
    background-color: var(--curious-blue-900);
    transition: 0.5s;
    text-decoration: none;
}

header > .navright > a::before {
    box-sizing: border-box;
    content: '';
    border-top: 1.5px solid #d5af26;
    border-bottom: 1.5px solid #d5af26;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleY(1.4);
    transition: 0.5s;
}

header > .navright > a:hover:before {
    box-sizing: border-box;
    transform: scaleY(1);
}

header > .navright > a:hover {
    box-sizing: border-box;
    background-color: var(900);
    color: var(--curious-blue-50);
    background-color: var(--curious-blue-900);
}




/* ------------
MAIN SETTINGS 
--------------*/
main {
    box-sizing: border-box;
    height: 85dvh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--curious-blue-50);
    /* text-shadow: 1px 4px var(--curious-blue-900); */
    padding: 0 1em;
    overflow-y: scroll;
    
}
main > * {
    margin: 1em auto;
    padding: 1em;
    box-sizing: border-box;
}

main > .indexheading {
    font-size: 4rem;
}

main > .indeximage {
    max-width: 80%;
    filter: invert(100%);
    z-index: 0;
    
}

main > .indexlink {
    text-decoration: none;
    color: var(--curious-blue-50);
    font-weight: 400;
    transition: 0.5s;
    font-weight: bolder;
    bottom: 0;
    border-top: 1.5px solid #d5af26;
    border-bottom: 1.5px solid #d5af26;
    border-radius: 0;
}

main > .indexlink:hover {
    color: #d5af26;
}

/* ------------
ABOUT PAGE SETTINGS 
--------------*/

main > p {
    width: 80%;
    margin: 0 auto;
    text-align: center;

}
.knownlanguages {
    border: 2px solid var(--curious-blue-50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 8px; */
}

.knownlanguages > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: column;
    padding-left: 0;
}

main > .aboutimage {
    max-width: 80%;
}


.contact {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin:  auto;
    padding: 0 auto;
    width: 80%;
    border-radius: 12px;
    background-color: var(--curious-blue-900);

}

.contact > section >section > label {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1em 0;
    color: var(--curious-blue-50);
}


input {
    border-radius: 12px;
    padding: 1em;
    background-color: var(--curious-blue-50)
    /* width: 100px; */
}

::placeholder {
    text-align: center;
}

#message {
    height: 100px
}

button {
    display: flex;
    padding: 1em 1em;
    margin: 1em auto;
    border-radius: 12px;
    border: 2px solid #d5af26;
    max-width: fit-content;
    align-self: center;
    background-color: var(--curious-blue-900);
    color: var(--curious-blue-50);
    transition: 0.5s;
}

button:hover {
    background-color: #d5af26;
    color: var(--curious-blue-50);
}

.contactbuttons {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.contactbutton {
    margin: 0;
    padding: .5em;
    border-radius: 12px;
    text-decoration: none;
    color: var(--curious-blue-50);
    font-size: .8rem;
    transition: 0.5s;
}


.contactbutton:hover {
    color:#d5af26;
}



/* ------------
PROJECTS PAGE SETTINGS 
--------------*/

.tile {
    box-sizing: border-box;
    padding: 1em 3em;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--curious-blue-100);
    /* border-radius: 12px; */

}


.tile > * {
    color: var(--curious-blue-950);
}

.tile > h1 {
    margin: 0 auto;
}

.tile > p {
    margin: 1em auto 1em;
}

.tile > a {
    margin: 0 auto 0;
    text-decoration: none;
    background-color: var(--curious-blue-900);
    padding: 1em;
    color: var(--curious-blue-50);
    /* border-radius: 12px; */
    bottom: 10px;
}


/* ------------
FOOTER SETTINGS 
--------------*/
footer {
    box-sizing: border-box;
    height: 5dvh;
    width: 100%;
    /* background-color: var(--curious-blue-200); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: #d5af26 3px solid;
    color: var(--curious-blue-50);
    flex-direction: row;
    padding: 0 2em;
    margin-top: auto;
    

}

footer > a {
    color: var(--curious-blue-50);
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.5s;
    opacity: 70%;
    transform: scale(1);
}

footer > a:hover {
    transform: scale(1.2);
    opacity: 100%;
    color:#d5af26;
}

footer >h4 {
    font-size: .8rem;
}


@media screen and (max-width: 720px) {
    
    header > .navright {
        box-sizing: border-box;
        flex-direction: column;
        position: absolute;
        height: 0;
        width: 100%;
        padding: 0 1em;
        top: 10dvh;
        bottom: 5dvh;
        align-items: center;
        transition: .1s;
        background-color:var(--curious-blue-950);
        z-index: 1;
        
    }

    header > .navright > a {
        box-sizing: border-box;
        padding: 0;
        border: none;
        text-align: right;
        margin: 1em 0;
        background-color: transparent;
        overflow: hidden ;
        transition: 0s;
    }

    header > .navright > a:hover {
        background-color: transparent;
        color: #d5af26;
    }

    .navbutton:checked ~ .navright {
        box-sizing: border-box;
        height:16em;
        border-bottom: 3px solid #d5af26;
    }

    header > .navright > a::before {
        display: none;
    }

    header > .navleft > h1 {
        width: fit-content;
    }

    header > label {
        display: block;
        transform: scale(2);
        margin-left: auto;
        margin-right: 1em;

    }
}
    

